
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    
    background-image: url('./Model-3-Main-Hero-Desktop-LHD.jpg') ;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center;
     background-size: cover; 

}
#box{
  display: block;
   /* position: fixed; */
   border: 2px red solid;
   overflow: auto;
  height: 60px;
}
#box1{
    margin-top: 10px;
    position:relative;
    border: 2px red solid;
    overflow: auto;
    color: #fff;
    padding: 10px;
  margin-right: 0px;
    width: 30%;
}

#box1{
    /* border: 2px red solid; */
    position: relative;
    float: left;
    left: 10px;
  
}
svg{
    position: relative;
   }

#box2{
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    /* border: 2px red solid; */
    overflow: auto;
    color: #fff;
     width: 68%;
     top: 10px;
     font-size: 20px;
     margin-left: 450px;
height: 50px;
  }
#box3{
float: left;
/* border: 2px red solid; */
position: relative;

}

 .box li:hover{
    
    background-color: rgb(79, 78, 76);

}
#box4{
    /* border: 2px red solid; */
    position: relative;
    float:right;
        }
    li{
        font-size: 20px;
   
      padding: 10px 10px;
        display: inline;
       margin: 5px;
        margin-bottom: 5px;
      position: relative;
    }
    #box5{
        /* border: 2px red solid; */
        position: relative;
         overflow: auto;
        width: fit-content;
    height: 120px;
    margin: auto ;
   margin-top:  3%;
    }
    #box5 h1{
    color: #fff;
  font-size: 50px;
    text-align: justify;
    }
.schudle{color: #fff;
   text-decoration: none;
   text-align: justify;
   border-bottom: 1px #fff solid;
}
.schudle:hover{
    border-bottom: 2px #fff solid;
}
.msg{color: #fff;
     /* border: 2px red solid;  */
    margin-left: 88%;
    margin-right: 5%;
    margin-top: 20%;
     position: fixed;
     overflow: auto;
     
}
.msg button, span{
    overflow: auto;
    border-radius: 50%;
   position: relative
   float: right;
   border: #fff;
   cursor: pointer;
   z-index: 12;
  

}
.msg button:hover{

    
}
span{
padding: 14px 14px;
}























/* .navbar{
 border: 1px #dddd solid;
  color:#fff;
  overflow: auto;
  margin-top: 10px;
  padding: 8px;
    }
    .navbar li{
    display: inline;
        padding: 5px;
    }

li{
   position: relative;
   left: 40%;
  
} */