
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;box-sizing: border-box;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
   position: sticky;
    background-image: url('./Model-3-Main-Hero-Desktop-LHD.jpg') ;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center;
     background-size: cover; 
     font-family: 'Gotham SSm', sans-serif;
}
#box{
  /* display: block; */
   position: relative;
   /* border: 2px red solid; */
   overflow: fixed;
  height: 60px;
}

#box2{
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    /* border: 2px red solid; */
    overflow:fixed;
    color: #fff;
     width: 68%;
     top: 10px;
     font-size: 20px;
     margin-left: 450px;
height: 50px;
  }
  #box1{
    /* height: 80px;
    width: 20%;
    padding-left: 50px;
       float: left;
     position:relative;
    
   overflow: auto;
     margin-right: 10px; */
     /* border: 2px red solid;   */
         }
#box1 a{
 position: relative;
 top: 0%;
 float: left;
 margin-left: 15px;
 margin-top: -15px;
}        
#box3{
float: left;
/* border: 2px red solid; */
position: relative;
font-size: 10px;

}

 .box li:hover{
    
    background-color: #404c5c;

}
#box4{
    /* border: 2px red solid; */
    position: relative;
    float:right;
        }
    li{
        font-size: 18px;
         padding: 10px 10px;
        display: inline;
       margin: 0, 8px;
        /* margin-bottom: 5px; */
      position: relative;
    }
    #box5{
        text-align: justify;
        font-family: 'Gotham SSm', sans-serif;
        font: bold;
        /* border: 2px red solid; */
        position: relative;
         overflow: auto;
        width: fit-content;
    height: 120px;
    margin: auto ;
   margin-top:  3%;
    }
    #box5 h1{
        font-family: 'Gotham SSm', sans-serif;
        color: #fff;
  font-size: 40px;
    text-align: justify;
    }
.schudle{color: #fff;
   text-decoration: none;
   text-align: justify;
   border-bottom: 1px #fff solid;
}
.schudle:hover{
    border-bottom: 2px #fff solid;
}
.msg{color: #fff;
     /* border: 2px red solid;  */
     margin-left: 93%;
    margin-top: 23%;
     position: fixed;
      overflow: visible; 
     height: 30px;
    
}  
button{
  height: 60px;
  width: 60px;
  background-color: #fff; 
}
.msg button, span{
    overflow: auto;
    border-radius: 50%;
   position: relative;
   float: right;
   border: #fff;
   cursor: pointer;
   z-index: 12;
}

.msg button:hover{

    
}
span{
  margin: 15px;
  
}
.buy-now{
    position: relative;
   
   

}
.buy-now a{
    border: 15px;
    color: #fff;
        text-decoration: none;
        font-size: 20px;
}
.buy-now a{
    border: 3px #fff solid;
    border-radius: 5px;
    background: none;
    width: 165px;
    height: 40px;
    padding: 7px 50px;
   font-size: 16px;
}

.buy-now a:hover{
  color: black;
  background: #fff;
}

.box6{
    position: relative;
    border: 10px;
    overflow: auto;
    /* border-bottom: 2px #fff solid; */
    color: #fff;
    text-align: center;
    margin: auto;
    height: 120px;
    width: 55%;
    top: 280px;
  }
  .box6 li{
    line-height: 1.5em;
    margin: 35px;
    float: left;
  }
  .box6 li h3{
    font: bold;
    font-size: 25px;
  }
  .box6 li p{font-size: smaller;}

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  #down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
 p i{
    position: relative;
    margin: 10px;
    overflow: auto;
    /* border-bottom: 2px #fff solid; */
    left: 49%;
   
    margin: auto;
    height: 12px;
    width: 12px;
    top: 310px;
 }




























/* .navbar{
 border: 1px #dddd solid;
  color:#fff;
  overflow: auto;
  margin-top: 10px;
  padding: 8px;
    }
    .navbar li{
    display: inline;
        padding: 5px;
    }

li{
   position: relative;
   left: 40%;
  
} */